# Assignment-4

# Question#1

In [28]:
l=["abc",
   {"name" : "Hamza Ali",
     "age"  : 25,
     "work" : "A.I",
     "skills" : ["python", "tensorflow", "cloud"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"},
     "salary" : 259999
     },
   {"name" : "Farooq Aziz",
     "age"  : 27,
     "work" : "Cloud Native",
     "skills" : ["ubuntu", "docker", "kubernetes"],
     "degree" : {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"},
     "salary" : 200000
     },
     {"name" : "Abu Bakr",
     "age"  : 30,
     "work" : "Blockchain",
     "skills" : ["python", "Cryptography", "Ethereum"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"},
     "salary" : 300000
     }
  ]

In [30]:
n=input("Enter name: (or enter nothing to exit) ")
a=int(input("Enter your age: "))
w=input("Enter field of work: ")
sk=input("Enter skills seperated by single comma: ")
sl=int(input("Enter Salary: "))
dt=input("Enter degree title: ")
dm=input("Enter degree major: ")
dcd=input("Enter Degree completion date: ")
sk=sk.split(',')
l.append({'name':n,'age':a,'work':w,'skills':sk,'degree':{'title':dt,'major':dm,'completionDate':dcd},'salary':sl})

Enter name: (or enter nothing to exit) Abdullah
Enter your age: 21
Enter field of work: Information technology
Enter skills seperated by single comma: c++,python,ruby
Enter Salary: 40000
Enter degree title: BS
Enter degree major: Information Technology
Enter Degree completion date: Sep-2021

In [31]:
l

['abc',
 {'name': 'Hamza Ali',
  'age': 25,
  'work': 'A.I',
  'skills': ['python', 'tensorflow', 'cloud'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'Jun 2019'},
  'salary': 259999},
 {'name': 'Farooq Aziz',
  'age': 27,
  'work': 'Cloud Native',
  'skills': ['ubuntu', 'docker', 'kubernetes'],
  'degree': {'title': 'MS',
   'major': 'Software engineer',
   'completionDate': 'May 2018'},
  'salary': 200000},
 {'name': 'Abu Bakr',
  'age': 30,
  'work': 'Blockchain',
  'skills': ['python', 'Cryptography', 'Ethereum'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'May 2019'},
  'salary': 300000},
 {'name': 'Abdullah',
  'age': 21,
  'work': 'Information technology',
  'skills': ['c++', 'python', 'ruby'],
  'degree': {'title': 'BS',
   'major': 'Information Technology',
   'completionDate': 'Sep-2021'},
  'salary': 40000}]

# Question#2

In [19]:
low=int(input("Enter lower range: "))
high=int(input("Enter higher range: "))

Enter lower range: 5
Enter higher range: 10

In [20]:
for i in range(low,high+1):
    for j in range(1,11):
        print(j,'x',i,'=',j*i)
    print('')

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [44]:
for i in range(1,11):
    for j in range(low,high+1):
        print(str(j)+' x '+str(i)+' = '+str(i*j)+' '*8,end='')
    print('')

5 x 1 = 5        6 x 1 = 6        7 x 1 = 7        8 x 1 = 8        9 x 1 = 9        10 x 1 = 10
5 x 2 = 10        6 x 2 = 12        7 x 2 = 14        8 x 2 = 16        9 x 2 = 18        10 x 2 = 20
5 x 3 = 15        6 x 3 = 18        7 x 3 = 21        8 x 3 = 24        9 x 3 = 27        10 x 3 = 30
5 x 4 = 20        6 x 4 = 24        7 x 4 = 28        8 x 4 = 32        9 x 4 = 36        10 x 4 = 40
5 x 5 = 25        6 x 5 = 30        7 x 5 = 35        8 x 5 = 40        9 x 5 = 45        10 x 5 = 50
5 x 6 = 30        6 x 6 = 36        7 x 6 = 42        8 x 6 = 48        9 x 6 = 54        10 x 6 = 60
5 x 7 = 35        6 x 7 = 42        7 x 7 = 49        8 x 7 = 56        9 x 7 = 63        10 x 7 = 70
5 x 8 = 40        6 x 8 = 48        7 x 8 = 56        8 x 8 = 64        9 x 8 = 72        10 x 8 = 80
5 x 9 = 45        6 x 9 = 54        7 x 9 = 63        8 x 9 = 72        9 x 9 = 81        10 x 9 = 90
5 x 10 = 50        6 x 10 = 60        7 x 10 = 70        8 x 10 = 80        9 x 10 = 90        10 x 10 = 100