# Assignment-3

# 1.Indexing

# First Example:

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [4]:
print(employee_data[0],"is working in",employee_data[2],"for",employee_data[3],"years and his salary is",employee_data[1])

Ali is working in Google for 5 years and his salary is 125000

# Second Example:

In [5]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
               '28 Januray 2020', '05 February 2020']

In [27]:
print("\'Hello",studentData[0],studentData[1],", \nYour application is accepted for admission in BS",studentData[3],"in",
      studentData[2]+'.\nYou have to submit fee',studentData[5],"before",studentData[-2],'.\nYour classes will start from',
      studentData[-1],'.\nThanks.')

'Hello Ahmed Bilal ,
Your application is accepted for admission in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020 .
Your classes will start from 05 February 2020 .
Thanks.

# 2. Slicing

In [1]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [17]:
print("Positive Slicing:")
print("1.",cities[0:4])
print("2.",cities[2:6])
print("3.",cities[5:8])
print("Negative Slicing:")
print("1.",cities[-4:-1])
print("2.",cities[-5:])

Positive Slicing:
1. ['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
2. ['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
3. ['Sahiwal', 'Rawalpindi', 'Sialkot']
Negative Slicing:
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists

In [18]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [19]:
#Adding using append:

In [20]:
studentData.append('20 February 2019')
studentData.append(8)

In [22]:
print(studentData[0:])

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [23]:
#Inserting at specific index

In [24]:
studentData.insert(4,2500)
studentData.insert(1,'M. Iqbal')

In [25]:
print(studentData[0:])

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 2500, 5, 'University of Agriculture', '20 February 2019', 8]

In [26]:
#Updating List

In [27]:
studentData[0]="Zohaib Ali"
studentData[6]=7

In [28]:
print(studentData[0:])

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 2500, 7, 'University of Agriculture', '20 February 2019', 8]

In [29]:
#Removing using remove

In [30]:
studentData.remove('Computer Science')
studentData.remove(91.24)

In [31]:
print(studentData[0:])

['Zohaib Ali', 'M. Iqbal', 22, 2500, 7, 'University of Agriculture', '20 February 2019', 8]

In [32]:
#Removing Using Pop

In [33]:
studentData.pop(-1)
studentData.pop(3)

2500

In [34]:
print(studentData[0:])

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4. Multidimensional List Tasks

In [35]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [36]:
#1. Print name of employees with salaray greater than 50000.
#2. Calculate total salary of all employees.

In [43]:
tot_sal=0
for i in employeeData:
    if(i[1]>50000):
        print(i[0])
    tot_sal+=i[1]
print("Total Salary:",tot_sal)

Talha
Nasir
Total Salary: 213000

In [45]:
#List Update Task
#1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
#2. Change salary of Khalid to 50000

In [46]:
employeeData[2][1]=90000
employeeData[2][2]="Product Manager"

In [47]:
employeeData[2]

['Nasir', 90000, 'Product Manager']

# 5. Login User

In [48]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [49]:
if(username=="faizan1214" and password=="qwerty"):
    if(emailVerified==True):
        print("Login Succeed")
    else:
        print("email not verified")
else:
    print("Incorrect Login Details")

email not verified

In [50]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [51]:
if(username=="faizan1214" and password=="qwerty"):
    if(emailVerified==True):
        print("Login Succeed")
    else:
        print("email not verified")
else:
    print("Incorrect Login Details")

Login Succeed